<div class="popup" ng-hide="loginController.signed">
    <div class="login-container">
        <div class="wrapper">
            <form class="form-signin" ng-submit="loginController.sendData()">
                <h2 class="form-signin-heading">Sign in to continue</h2>
                <img class="profile-img" src="./resources/img/profile.png" alt="">
                <input type="text" ng-model="loginController.loginData.login" class="form-control" placeholder="Email" required autofocus />
                <input type="password" ng-model="loginController.loginData.password" class="form-control" placeholder="Password" required />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>